{% load static %}

<footer class="site-footer style-2 overflow-hidden" id="footer">
    <img src="{% static 'codesign/images/pattern/pt13.png' %}" class="circle-bg" alt="">
    <img src="{% static 'codesign/images/pattern/pt13.png' %}" class="circle-bg-2" alt="">
    <div class="footer-top line-img">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 m-b40 aos-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
                    <div class="widget widget_getintuch">
                        <div class="widget-title">
                            <h4 class="title">Contact Us</h4>
                        </div>
                        <ul>
                            <li><i class="flaticon-placeholder"></i>1247/Plot No. 39, 15th Phase,  Colony, Kukatpally, Hyderabad</li>
                            <li><i class="flaticon-telephone"></i>1800-121-3637<br>+91 555 234-8765</li>
                            <li><i class="flaticon-email"></i>info@gmail.com<br>services@gmail.com</li>
                        </ul>
                        <a class="btn-link style-2" href="javascript:void(0);">GET DIRECTIONS <i class="m-l5 las la-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 m-b40 aos-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <div class="widget widget_links">
                        <div class="widget-title">
                            <h4 class="title">Our Links</h4>
                        </div>
                        <ul>
                            <li><a href="{% url 'codesign:index' %}">Home</a></li>
                            <li><a href="{% url 'codesign:about-us' %}">About Us</a></li>
                            <li><a href="{% url 'codesign:portfolio' %}">Portfolio</a></li>
                            <li><a href="{% url 'codesign:services' %}">Services</a></li>
                            <li><a href="{% url 'codesign:team' %}">Team</a></li>
                            <li><a href="{% url 'codesign:blog-grid' %}">Blogs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 m-b40 aos-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <div class="widget widget_links">
                        <div class="widget-title">
                            <h4 class="title">Services</h4>
                        </div>
                        <ul>
                            <li><a href="javascript:void(0);">Architecture & Interior</a></li>
                            <li><a href="javascript:void(0);">Project Planning</a></li>
                            <li><a href="javascript:void(0);">Product Design</a></li>
                            <li><a href="javascript:void(0);">Custom Design</a></li>
                            <li><a href="javascript:void(0);">24x7 Suppoer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 m-b40 aos-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <div class="widget-title">
                        <h4 class="title">About Company</h4>
                    </div>
                    <p>Suspendisse condimentum vel dolor ut pulvinar. Nullam ac magna lacus. Duis volutpat consectetur purus, a dictum eros mollis ut. Curabitur erat enim, tempus in </p>
                    <ul class="social-list style-2">
                        <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 text-lg-start"> 
                    <ul class="footer-link d-inline-block">
                        <li><a href="javascript:void(0);">Privacy Policy</a></li>
                        <li><a href="javascript:void(0);">Team &amp; Condition</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 text-lg-end"> 
                    <span class="copyright-text">Copyright © 2024 <a href="https://dexignzone.com/" class="text-primary" target="_blank">DexignZone</a> All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
</footer>