{% load static %}

<!-- Header -->
<header class="site-header mo-left header center style-1">
    <!-- Main Header -->
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar clearfix ">
            <div class="container-fluid clearfix">
                <!-- Website Logo -->
                <div class="logo-header mostion logo-dark">
                    <a href="{% url 'codesign:index' %}">
                        <img class="website-logo" src="{% static 'codesign/images/mfmlogo.png' %}" alt="">
                    </a>
                </div>
                <!-- Nav Toggle Button -->
                <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!-- Extra Nav -->
                <div class="extra-nav">
                    <div class="extra-cell">
                        <a class="search-link" id="quik-search-btn" href="javascript:void(0);">
                            <i class="flaticon-loupe"></i>
                        </a>
                        <a href="javascript:void();" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn shadow-primary btn-primary login-btn">
                            <i class="flaticon-email scale3"></i>
                            <span>SUBSCRIBE NOW</span>
                        </a>
                    </div>
                </div>
                <!-- Quik Search -->
                <div class="dz-quik-search">
                    <form action="#">
                        <input name="search" value="" type="text" class="form-control" placeholder="Enter Your Keyword ...">
                        <span  id="quik-search-remove"><i class="ti-close"></i></span>
                    </form>
                </div>
                <div class="sidebar-menu">
                    <div class="menu-btn navicon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <h6 class="phone-no">+91 987 654 3210</h6>
                </div>
                <div class="header-nav navbar-collapse collapse justify-content-center" id="navbarNavDropdown">
                    <div class="logo-header logo-dark">
                        <a href="{% url 'codesign:index' %}"><img src="{% static 'codesign/images/mfmlogo.png' %}" alt=""></a>
                    </div>
                    <ul class="nav navbar-nav navbar navbar-left">	
                        <li class="sub-menu-down active"><a href="{% url 'codesign:index' %}">Home</a>
                             
                        </li>
                        <li class="sub-menu-down"><a href="javascript:void(0);">Who we're</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'codesign:about-us' %}">About Us</a></li>
                                <li><a href="{% url 'codesign:team' %}">Team</a></li>
                                <li><a href="{% url 'codesign:give' %}">Give</a></li>
    
                            </ul>
                        </li>
                        <li class="sub-menu-down"><a href="javascript:void(0);">Events</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'codesign:events' %}">Events</a></li>
                                 
                            </ul>
                        </li>
                         
                    </ul>	
                    <ul class="nav navbar-nav navbar navbar-right">		
                        <li class="sub-menu-down"><a href="javascript:void(0);">Services</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'codesign:services' %}">Services</a></li>
                                 
                            </ul>
                        </li>
                        <li class="sub-menu-down"><a href="javascript:void(0);">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'codesign:blog-details' 1 %}">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'codesign:contact-us' %}">Contact Us</a></li>
                    </ul>
                    <div class="dz-social-icon">
                        <ul>
                            <li><a class="fab fa-facebook-f" href="javascript:void(0);"></a></li>
                            <li><a class="fab fa-twitter" href="javascript:void(0);"></a></li>
                            <li><a class="fab fa-linkedin-in" href="javascript:void(0);"></a></li>
                            <li><a class="fab fa-instagram" href="javascript:void(0);"></a></li>
                        </ul>
                    </div>	
                </div>
            </div>
        </div>
    </div>
    <!-- Main Header End -->
</header>
<!-- Header End -->
<div class="contact-sidebar">
    <div class="contact-box">
        <div class="logo-contact logo-dark">
            <a href="{% url 'codesign:index' %}"><img src="{% static 'codesign/images/mfmlogo.png' %}" alt=""></a>
        </div>
        
        <div class="m-b50 contact-text">
            <div class="dz-title">
                <h4>About US</h4>
                <div class="dz-separator style-1 text-primary mb-0"></div>	
            </div>
            <p>Mountain of Fire and Miracles Ministries (MFM) is a full gospel ministry devoted to the revival of apostolic signs, Holy Ghost fireworks, and the unlimited power of God to deliver to the uttermost.
            </p>
            <a href="{% url 'codesign:about-us' %}" class="btn btn-primary btn-sm">READ MORE</a>
        </div>
        <div class="dz-title">
            <h4>Contact Info</h4>
            <div class="dz-separator style-1 text-primary mb-0"></div>	
        </div>
        <div class="icon-bx-wraper left">
            <div class="icon-md m-r20">
                <span class="icon-cell"><i class="las la-phone-volume"></i></span> 
            </div>
            <div class="icon-content">
                <h5 class="tilte">Call Now</h5>
                <p class="m-b0">+773-310-3610,<br/>+7736499620</p>
            </div>
        </div>
        <div class="icon-bx-wraper left">
            <div class="icon-md m-r20">
                <span class="icon-cell"><i class="las la-envelope-open"></i></span> 
            </div>
            <div class="icon-content">
                <h5 class="tilte">Location</h5>
                <p class="m-b0">South Chicago Regional Headquarters 
                    8545 Cottage Grove Avenue 
                    Chicago IL 60619</p>
            </div>
        </div>
        <div class="icon-bx-wraper left">
            <div class="icon-md m-r20">
                <span class="icon-cell"><i class="las la-map-marker"></i></span> 
            </div>
            <div class="icon-content">
                <h5 class="tilte">Email Now</h5>
                <p class="m-b0">INFO@MFMSOUTHCHICAGO.US

                </p>
            </div>
        </div>
    </div>	
</div>
<div class="menu-close"></div>
<!-- InquiryModal -->r
<div class="modal fade inquiry-modal" id="exampleModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="inquiry-adv">
            <img src="{% static 'codesign/images/img1.jpg' %}" alt=""/>
        </div>
        <div class="modal-content">
            <div class="modal-header">
                <i class="flaticon-email"></i>
                <h5 class="modal-title" id="exampleModalLongTitle">SUBSCRIBE TO OUR NEWSLATTER</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <div class="dzSubscribeMsg"></div>
                <form action="script/mailchamp.php" class="dzSubscribe" method="post">
                    <div class="form-group mb-3">
                        <input type="text" name="dzName" required class="form-control" placeholder="YOUR NAME">
                    </div>
                    <div class="form-group mb-3">
                        <input type="email" name="dzEmail" required class="form-control" placeholder="YOUR EMAIL ADDRESS">
                    </div>
                    <div class="form-group text-center">
                        <button name="submit" type="submit" value="Submit" class="btn btn-primary">SUBSCRIBE NOW</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>