{% extends 'codesign/elements/layouts/layout-5.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}	
		
		<!-- Slider -->
		<div class="silder-five position-relative">
			<div class="container">
				<div class="row  inner-content">
					<div class="col-lg-7 col-md-12">
						<div class="swiper-container main-silder-05">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="silder-content ">
										<div class="inner-content">
											<h1 class="title">We Create Your Dream Ideas
												<span class="text-primary">Creative  Architecture</span>
											</h1>
											<p class="text m-b30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
											<div class="contant-box">
												<a href="{% url 'codesign:about-us' %}" class="btn shadow-primary btn-primary m-r40  btn-sm">READ MORE</a>
												<a class="video-btn style-1 popup-youtube" href="https://www.youtube.com/watch?v=4UdeL0kdMMs">
													<i class="fa fa-play"></i>
													<span class="text">Watch Video</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="silder-content ">
										<div class="inner-content">
											<h1 class="title">We Create Your Dream Ideas
												<span class="text-primary">Creative  Architecture</span>
											</h1>
											<p class="text m-b30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
											<div class="contant-box">
												<a href="{% url 'codesign:about-us' %}" class="btn shadow-primary btn-primary m-r40 btn-sm">READ MORE</a>
												<a class="video-btn style-1 popup-youtube" href="https://www.youtube.com/watch?v=4UdeL0kdMMs">
													<i class="fa fa-play"></i>
													<span class="text">Watch Video</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="silder-content ">
										<div class="inner-content">
											<h1 class="title">We Create Your Dream Ideas
												<span class="text-primary">Creative  Architecture</span>
											</h1>
											<p class="text m-b30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
											<div class="contant-box">
												<a href="{% url 'codesign:about-us' %}" class="btn shadow-primary btn-primary m-r40 btn-sm ">READ MORE</a>
												<a class="video-btn style-1 popup-youtube" href="https://www.youtube.com/watch?v=4UdeL0kdMMs">
													<i class="fa fa-play"></i>
													<span class="text">Watch Video</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 col-md-12 p-a0">
						<div class="swiper-container main-silder-thumb-05 ">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="silder-img overlay-black-light m-b30">
										<img src="{% static 'codesign/images/main-slider/pic6.jpg' %}"  alt="">
										<ul class="point-list">
											<li class="icon-dropdown">
												<i class="fas fa-plus"></i>
												<div class="contant-box-inner">
													<h6>Sofa Come Bed</h6>
													<p>standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
												</div>
											</li>
											<li class="icon-dropdown">
												<i class="fas fa-plus"></i>
												<div class="contant-box-inner">
													<h6>Sofa Come Bed</h6>
													<p>standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
												</div>
											</li>
											<li class="icon-dropdown">
												<i class="fas fa-plus"></i>
												<div class="contant-box-inner">
													<h6>Sofa Come Bed</h6>
													<p>standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
												</div>
											</li> 
										</ul>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="silder-img overlay-black-light">
										<img src="{% static 'codesign/images/main-slider/pic6.jpg' %}"  alt="">
										<ul class="point-list">
											<li class="icon-dropdown">
												<i class="fas fa-plus"></i>
												<div class="contant-box-inner">
													<h6>Sofa Come Bed</h6>
													<p>standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
												</div>
											</li>
											<li class="icon-dropdown">
												<i class="fas fa-plus"></i>
												<div class="contant-box-inner">
													<h6>Sofa Come Bed</h6>
													<p>standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
												</div>
											</li>
											<li class="icon-dropdown">
												<i class="fas fa-plus"></i>
												<div class="contant-box-inner">
													<h6>Sofa Come Bed</h6>
													<p>standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
												</div>
											</li> 
										</ul>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="silder-img overlay-black-light">
										<img src="{% static 'codesign/images/main-slider/pic6.jpg' %}"  alt="">
										<ul class="point-list">
											<li class="icon-dropdown">
												<i class="fas fa-plus"></i>
												<div class="contant-box-inner">
													<h6>Sofa Come Bed</h6>
													<p>standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
												</div>
											</li>
											<li class="icon-dropdown">
												<i class="fas fa-plus"></i>
												<div class="contant-box-inner">
													<h6>Sofa Come Bed</h6>
													<p>standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
												</div>
											</li>
											<li class="icon-dropdown">
												<i class="fas fa-plus"></i>
												<div class="contant-box-inner">
													<h6>Sofa Come Bed</h6>
													<p>standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
												</div>
											</li> 
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="animation-btn">
				<a class="popup-youtube" href="https://www.youtube.com/watch?v=4UdeL0kdMMs">
					<img src="{% static 'codesign/images/banner/bnr9.png' %}" alt="" class="img1">
					<img src="{% static 'codesign/images/banner/bnr10.png' %}" alt="" class="img2">
					<i class="fa fa-play"></i>
				</a>
			</div>
			<div class="follow-info style-3 left">
				<div class="inner-info">
					<ul>
						<li class="text-primary">FOLLOW  US  NOW:</li>
						<li>
							<ul>
								<li><a href="https://twitter.com/" target="blank"><i class="fab fa-twitter"></i></a></li>
								<li><a href="https://www.instagram.com/" target="blank"><i class="fab fa-instagram"></i></a></li>
								<li><a href="https://www.facebook.com/" target="blank"><i class="fab fa-facebook-f"></i></a>	</li>
								<li><a href="https://www.youtube.com//" target="blank"><i class="fab fab fa-youtube"></i></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- About Us -->
		<section class="style-2 position-relative " data-name="About Us">
			<div class="container">
				<div class="row about-bx4 align-items-center">
					<div class="col-lg-5">
						<div class="row align-items-end">
							<div class="col-6 m-b30 ">
								<div class="dz-media style-1">
									<div class="img1  aos-item ">
										<img src="{% static 'codesign/images/about/pic6.jpg' %}" alt="" data-aos="fade-down" data-aos-duration="800" data-aos-delay="400">
									</div>
								</div>	
							</div>
							<div class="col-6 m-b30">
								<div class="dz-media">
									<div class="img2  aos-item ">
										<img src="{% static 'codesign/images/about/pic7.jpg' %}" alt="" data-aos="fade-down" data-aos-duration="800" data-aos-delay="400">
									</div>
								</div>	
							</div>
						</div>
					</div>
					<div class="col-lg-7  aos-item" data-aos="fade-in" data-aos-duration="800" data-aos-delay="400">
						<h4 class="title">We Design & Create Best Architect Around The World With Inspiration</h4>
						<a href="{% url 'codesign:contact-us' %}" class="btn shadow-primary btn-primary btn-sm">CONTACT  US</a>
					</div>
				</div>
			</div>
		</section>

		<!-- About Us -->
		<section class="content-inner">
			<div class="container">
				<div class="row about-bx3">
					<div class="col-lg-6 m-b30 aos-item" data-aos="fade-in" data-aos-duration="800" data-aos-delay="400">
						<div class="section-head style-2">
							<h2 class="title">We Provide You The Best<span class="text-primary">Experience </span></h2>
							<p class="sub-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>	
						</div>
						<a href="{% url 'codesign:blog-details' %}" class="view-more-btn">
							<span class="text">View More Product</span>
							<span class="line"></span>
							<span class="btn-icon bg-primary"><i class="las la-long-arrow-alt-right"></i></span>
						</a>
					</div>
					<div class="col-lg-6 m-b30">
						<div class="dz-media">
							<img src="{% static 'codesign/images/about/pic5.jpg' %}" alt=""  data-aos="fade-down" data-aos-duration="800" data-aos-delay="400">
							<div class="dz-info">
								<h2 class="Product text-primary"><span class="counter">180</span>+</h2>
								<h6 class="text">New Arrival  Product</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
			
		<!-- Services -->
		<section class="content-inner-3 overflow-hidden bg-gray">
			<div class="container">
				<div class="section-head style-2 text-center">
					<h2 class="title">What We <span class="text-primary">Provide</span></h2>
					<p class="sub-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 aos-item" data-aos="flip-down" data-aos-duration="1500" data-aos-delay="400">
						<div class="icon-bx-wraper style-10 m-b30 p-a30 box-hover" data-name="1.">
							<div class="icon-bx-sm m-b20"> 
								<a href="javascript:void(0);" class="icon-cell">
									<div class="icon-lg">
										<span class="icon-cell text-primary"><i class="flaticon-blueprint-1"></i></span> 
									</div>
								</a> 
							</div>
							<h4 class="title m-b10"><a href="{% url 'codesign:services-details' %}">Interior Design</a></h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 aos-item" data-aos="flip-down" data-aos-duration="1500" data-aos-delay="400">
						<div class="icon-bx-wraper style-10 m-b30 p-a30  box-hover" data-name="1.">
							<div class="icon-bx-sm m-b20"> 
								<a href="javascript:void(0);" class="icon-cell">
									<div class="icon-lg">
										<span class="icon-cell text-primary"><i class="flaticon-blueprint"></i></span> 
									</div>
								</a> 
							</div>
							<h4 class="title m-b10"><a href="{% url 'codesign:services-details' %}">Construction</a></h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 aos-item" data-aos="flip-down" data-aos-duration="1500" data-aos-delay="400">
						<div class="icon-bx-wraper style-10 m-b30 p-a30  box-hover" data-name="1.">
							<div class="icon-bx-sm m-b20"> 
								<a href="javascript:void(0);" class="icon-cell">
									<div class="icon-lg">
										<span class="icon-cell text-primary"><i class="flaticon-interior-design"></i></span> 
									</div>
								</a> 
							</div>
							<h4 class="title m-b10"><a href="{% url 'codesign:services-details' %}">Architecture</a></h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 aos-item" data-aos="flip-down" data-aos-duration="1500" data-aos-delay="400">
						<div class="icon-bx-wraper style-10 m-b30 p-a30  box-hover" data-name="1.">
							<div class="icon-bx-sm m-b20"> 
								<a href="javascript:void(0);" class="icon-cell">
									<div class="icon-lg">
										<span class="icon-cell text-primary"><i class="flaticon-home"></i></span> 
									</div>
								</a> 
							</div>
							<h4 class="title m-b10"><a href="{% url 'codesign:services-details' %}">24X7 Support</a></h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- Portfolio -->
		<section class="content-inner-2  overflow-hidden masonry-portfolio">
			<div class="container">
				<div class="row section-head-bx align-items-center">
					<div class="col-lg-7 col-md-6 col-sm-12">
						<div class="section-head style-2">
							<h2 class="title">Our Latest <span class="text-primary">Work</span></h2>
						</div>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-12 ">
						<a href="{% url 'codesign:blog-details' %}" class="view-more-btn ms-auto">
							<span class="text">View More Product</span>
							<span class="line"></span>
							<span class="btn-icon bg-primary"><i class="las la-long-arrow-alt-right"></i></span>
						</a>
					</div>
				</div>
				<div class="site-filters style-3 clearfix">
					<ul class="filter-isotope" data-toggle="buttons">
						<li class="btn active">
							<input type="radio">
							<a href="javascript:void(0);">All</a> 
						</li>
						<li data-filter=".architecture" class="btn">
							<input type="radio">
							<a href="javascript:void(0);">Architecture</a> 
						</li>
						<li data-filter=".interior_design" class="btn">
							<input type="radio">
							<a href="javascript:void(0);">Interior Design</a> 
						</li>
						<li data-filter=".construction" class="btn">
							<input type="radio">
							<a href="javascript:void(0);">Construction</a> 
						</li>
					</ul>
				</div>
			</div>
			<div class="clearfix">
				<ul id="Isotope"  class="row spno lightgallery aos-item" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="300">
					<li class="card-container col-xl-3 col-md-6 col-sm-6 architecture m-b10 ">
						<div class="dz-box overlay style-3">
							<div class="dz-media" style="background-image: url('{% static 'codesign/images/filter/pic1.jpg' %}')">
								<span data-exthumbimage="{% static 'codesign/images/filter/pic1.jpg' %}" data-src="{% static 'codesign/images/filter/pic1.jpg' %}" class="view-btn lightimg" title="Architecture"></span>
							</div>
							<div class="dz-info">
								<h6 class="title"><a href="{% url 'codesign:services-details' %}">Public Cafe Design</a></h6>
							</div>
						</div>
					</li>
					<li class="card-container col-xl-3 col-md-6 col-sm-6 interior_design m-b10">
						<div class="dz-box overlay style-3">
							<div class="dz-media" style="background-image: url('{% static 'codesign/images/filter/pic2.jpg' %}')">
								<span data-exthumbimage="{% static 'codesign/images/filter/pic2.jpg' %}" data-src="{% static 'codesign/images/filter/pic2.jpg' %}" class="view-btn lightimg" title="Interior Design"></span>
							</div>
							<div class="dz-info">
								<h6 class="title"><a href="{% url 'codesign:services-details' %}">Interior Design</a></h6>	
							</div>
						</div>
					</li>
					<li class="card-container col-xl-3 col-md-6 col-sm-6 construction m-b10 ">
						<div class="dz-box overlay style-3">
							<div class="dz-media" style="background-image: url('{% static 'codesign/images/filter/pic3.jpg' %}')">
								<span data-exthumbimage="{% static 'codesign/images/filter/pic3.jpg' %}" data-src="{% static 'codesign/images/filter/pic3.jpg' %}" class="view-btn lightimg" title="Construction"></span>
							</div>
							<div class="dz-info">
								<h6 class="title"><a href="{% url 'codesign:services-details' %}">Floor Plan Design</a></h6>
							</div>
						</div>
					</li>
					<li class="card-container col-xl-3 col-md-6 col-sm-6 construction m-b10 ">
						<div class="dz-box overlay style-3">
							<div class="dz-media" style="background-image: url('{% static 'codesign/images/filter/pic4.jpg' %}')">
								<span data-exthumbimage="{% static 'codesign/images/filter/pic4.jpg' %}" data-src="{% static 'codesign/images/filter/pic4.jpg' %}" class="view-btn lightimg" title="Architecture"></span>
							</div>
							<div class="dz-info">
								<h6 class="title"><a href="{% url 'codesign:services-details' %}">Construction</a></h6>
							</div>
						</div>
					</li>
					<li class="card-container col-xl-3 col-md-6 col-sm-6 architecture m-b10 ">
						<div class="dz-box overlay style-3">
							<div class="dz-media" style="background-image: url('{% static 'codesign/images/filter/pic5.jpg' %}')">
								<span data-exthumbimage="{% static 'codesign/images/filter/pic5.jpg' %}" data-src="{% static 'codesign/images/filter/pic5.jpg' %}" class="view-btn lightimg" title="Interior Design"></span>
							</div>
							<div class="dz-info">
								<h6 class="title"><a href="{% url 'codesign:services-details' %}">Furniture Production</a></h6>
							</div>
						</div>
					</li>
					<li class="card-container col-xl-3 col-md-6 col-sm-6 interior_design m-b10">
						<div class="dz-box overlay style-3">
							<div class="dz-media" style="background-image: url('{% static 'codesign/images/filter/pic6.jpg' %}')">
								<span data-exthumbimage="{% static 'codesign/images/filter/pic6.jpg' %}" data-src="{% static 'codesign/images/filter/pic6.jpg' %}" class="view-btn lightimg" title="Construction"></span>
							</div>
							<div class="dz-info">
								<h6 class="title"><a href="{% url 'codesign:services-details' %}">Architecture Design</a></h6>
							</div>
						</div>
					</li>
					<li class="card-container col-xl-3 col-md-6 col-sm-6 interior_design m-b10">
						<div class="dz-box overlay style-3">
							<div class="dz-media" style="background-image: url('{% static 'codesign/images/filter/pic7.jpg' %}')">
								<span data-exthumbimage="{% static 'codesign/images/filter/pic7.jpg' %}" data-src="{% static 'codesign/images/filter/pic7.jpg' %}" class="view-btn lightimg" title="Architecture"></span>
							</div>
							<div class="dz-info">
								<h6 class="title"><a href="{% url 'codesign:services-details' %}">Floor Plan Design</a></h6>
							</div>
						</div>
					</li>
					<li class="card-container col-xl-3 col-md-6 col-sm-6 architecture m-b10">
						<div class="dz-box overlay style-3">
							<div class="dz-media" style="background-image: url('{% static 'codesign/images/filter/pic8.jpg' %}')">
								<span data-exthumbimage="{% static 'codesign/images/filter/pic8.jpg' %}" data-src="{% static 'codesign/images/filter/pic8.jpg' %}" class="view-btn lightimg" title="Interior Design"></span>
							</div>
							<div class="dz-info">
								<h6 class="title"><a href="{% url 'codesign:services-details' %}">Interior Design</a></h6>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
	
		<!-- Testimonials -->
		<section class="content-inner-2 bg-gray" >
			<div class="container">
				<div class="row section-head-bx align-items-center ">
					<div class="col-lg-7 col-md-6 col-sm-12">
						<div class="section-head style-2">
							<h2 class="title">What Our <span class="text-primary">Client Says</span></h2>
							<p class="sub-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
						</div>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-12 ">
						<a href="{% url 'codesign:blog-details' %}" class="view-more-btn ms-auto">
							<span class="text">View More Product</span>
							<span class="line"></span>
							<span class="btn-icon bg-primary"><i class="las la-long-arrow-alt-right"></i></span>
						</a>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 m-b20">
						<div class="swiper-container testimonial-swiper-3">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="testimonial-3 aos-item">
										<div class="testimonial-info m-b20">
											<div class="testimonial-detail text-center">
												<div class="testimonial-pic m-r20">
													<img src="{% static 'codesign/images/testimonials/pic2.jpg' %}" alt="">
												</div>
												<div>
													<h5 class="testimonial-name">Andrey </h5> 
													<span class="testimonial-position">Designer</span> 
													<ul class="star-rating  m-b0">
														<li><i class="fa fa-star text-primary"></i></li>
														<li><i class="fa fa-star text-primary"></i></li>
														<li><i class="fa fa-star text-primary"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
													</ul>
												</div>
											</div>
											<div class="testimonial-text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
											</div>
											<svg width="123" height="122" viewBox="0 0 123 122" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M27.2778 17.9409C12.237 17.9409 0.00200462 30.0765 0.00200462 44.9952C0.00200462 59.387 11.3887 71.1911 25.6957 72.0065C25.9435 74.6593 25.7576 81.8804 18.7814 91.9253C18.2541 92.6831 18.3498 93.705 19.0047 94.3547C21.8595 97.1862 23.6238 98.9695 24.8586 100.217C26.4747 101.848 27.2123 102.592 28.2914 103.564C28.6574 103.893 29.119 104.059 29.5827 104.059C30.033 104.059 30.4816 103.903 30.8439 103.592C43.0001 93.1 56.504 71.4219 54.5502 44.8574C53.4053 29.2612 41.936 17.9409 27.2778 17.9409ZM29.6014 99.5484C29.0779 99.0366 28.4809 98.4335 27.6007 97.5453C26.531 96.4639 25.0633 94.982 22.8373 92.7668C31.3038 79.8269 29.7046 70.6104 29.0046 69.2886C28.6723 68.6613 27.991 68.2387 27.2778 68.2387C14.3578 68.2387 3.84575 57.812 3.84575 44.9952C3.84575 32.18 14.3578 21.7534 27.2778 21.7534C39.864 21.7534 49.7211 31.5862 50.7176 45.1328C52.9135 75.0112 35.0105 94.4105 29.6014 99.5484Z" fill="#318D85"/>
												<path d="M122.809 44.8574C121.66 29.2631 110.189 17.9409 95.5346 17.9409C80.4936 17.9409 68.2566 30.0765 68.2566 44.9952C68.2566 59.387 79.6453 71.1911 93.9542 72.0065C94.202 74.6574 94.0142 81.8746 87.0362 91.9253C86.5089 92.6831 86.6046 93.705 87.2596 94.3547C90.103 97.175 91.8634 98.9546 93.0984 100.2C94.7218 101.842 95.4633 102.59 96.548 103.566C96.9139 103.893 97.3775 104.059 97.8393 104.059C98.2898 104.059 98.7383 103.903 99.1004 103.59C111.257 93.0981 124.761 71.4202 122.809 44.8574ZM97.8579 99.5484C97.3306 99.0328 96.7282 98.426 95.8403 97.5288C94.7706 96.4489 93.3087 94.971 91.092 92.7668C99.5584 79.825 97.9613 70.6104 97.2631 69.2886C96.9308 68.6632 96.2478 68.2387 95.5346 68.2387C82.6125 68.2387 72.1004 57.812 72.1004 44.9952C72.1004 32.18 82.6125 21.7534 95.5346 21.7534C108.119 21.7534 117.978 31.5862 118.976 45.1347C121.17 75.0093 103.267 94.4105 97.8579 99.5484Z" fill="#318D85"/>
											</svg>
										</div>
									</div>
								</div>
								 <div class="swiper-slide">
									<div class="testimonial-3 aos-item">
										<div class="testimonial-info m-b20">
											<div class="testimonial-detail text-center">
												<div class="testimonial-pic m-r20">
													<img src="{% static 'codesign/images/testimonials/pic3.jpg' %}" alt="">
												</div>
												<div>
													<h5 class="testimonial-name">Jakob </h5> 
													<span class="testimonial-position">developer</span> 
													<ul class="star-rating  m-b0">
														<li><i class="fa fa-star text-primary"></i></li>
														<li><i class="fa fa-star text-primary"></i></li>
														<li><i class="fa fa-star text-primary"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
													</ul>
												</div>
											</div>
											<div class="testimonial-text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
											</div>
											<svg width="123" height="122" viewBox="0 0 123 122" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M27.2778 17.9409C12.237 17.9409 0.00200462 30.0765 0.00200462 44.9952C0.00200462 59.387 11.3887 71.1911 25.6957 72.0065C25.9435 74.6593 25.7576 81.8804 18.7814 91.9253C18.2541 92.6831 18.3498 93.705 19.0047 94.3547C21.8595 97.1862 23.6238 98.9695 24.8586 100.217C26.4747 101.848 27.2123 102.592 28.2914 103.564C28.6574 103.893 29.119 104.059 29.5827 104.059C30.033 104.059 30.4816 103.903 30.8439 103.592C43.0001 93.1 56.504 71.4219 54.5502 44.8574C53.4053 29.2612 41.936 17.9409 27.2778 17.9409ZM29.6014 99.5484C29.0779 99.0366 28.4809 98.4335 27.6007 97.5453C26.531 96.4639 25.0633 94.982 22.8373 92.7668C31.3038 79.8269 29.7046 70.6104 29.0046 69.2886C28.6723 68.6613 27.991 68.2387 27.2778 68.2387C14.3578 68.2387 3.84575 57.812 3.84575 44.9952C3.84575 32.18 14.3578 21.7534 27.2778 21.7534C39.864 21.7534 49.7211 31.5862 50.7176 45.1328C52.9135 75.0112 35.0105 94.4105 29.6014 99.5484Z" fill="#318D85"/>
												<path d="M122.809 44.8574C121.66 29.2631 110.189 17.9409 95.5346 17.9409C80.4936 17.9409 68.2566 30.0765 68.2566 44.9952C68.2566 59.387 79.6453 71.1911 93.9542 72.0065C94.202 74.6574 94.0142 81.8746 87.0362 91.9253C86.5089 92.6831 86.6046 93.705 87.2596 94.3547C90.103 97.175 91.8634 98.9546 93.0984 100.2C94.7218 101.842 95.4633 102.59 96.548 103.566C96.9139 103.893 97.3775 104.059 97.8393 104.059C98.2898 104.059 98.7383 103.903 99.1004 103.59C111.257 93.0981 124.761 71.4202 122.809 44.8574ZM97.8579 99.5484C97.3306 99.0328 96.7282 98.426 95.8403 97.5288C94.7706 96.4489 93.3087 94.971 91.092 92.7668C99.5584 79.825 97.9613 70.6104 97.2631 69.2886C96.9308 68.6632 96.2478 68.2387 95.5346 68.2387C82.6125 68.2387 72.1004 57.812 72.1004 44.9952C72.1004 32.18 82.6125 21.7534 95.5346 21.7534C108.119 21.7534 117.978 31.5862 118.976 45.1347C121.17 75.0093 103.267 94.4105 97.8579 99.5484Z" fill="#318D85"/>
											</svg>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="testimonial-3 aos-item">
										<div class="testimonial-info m-b20">
											<div class="testimonial-detail text-center">
												<div class="testimonial-pic m-r20">
													<img src="{% static 'codesign/images/testimonials/pic4.jpg' %}" alt="">
												</div>
												<div>
													<h5 class="testimonial-name">Lindsey </h5> 
													<span class="testimonial-position">programmer</span> 
													<ul class="star-rating  m-b0">
														<li><i class="fa fa-star text-primary"></i></li>
														<li><i class="fa fa-star text-primary"></i></li>
														<li><i class="fa fa-star text-primary"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
													</ul>
												</div>
											</div>
											<div class="testimonial-text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
											</div>
											<svg width="123" height="122" viewBox="0 0 123 122" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M27.2778 17.9409C12.237 17.9409 0.00200462 30.0765 0.00200462 44.9952C0.00200462 59.387 11.3887 71.1911 25.6957 72.0065C25.9435 74.6593 25.7576 81.8804 18.7814 91.9253C18.2541 92.6831 18.3498 93.705 19.0047 94.3547C21.8595 97.1862 23.6238 98.9695 24.8586 100.217C26.4747 101.848 27.2123 102.592 28.2914 103.564C28.6574 103.893 29.119 104.059 29.5827 104.059C30.033 104.059 30.4816 103.903 30.8439 103.592C43.0001 93.1 56.504 71.4219 54.5502 44.8574C53.4053 29.2612 41.936 17.9409 27.2778 17.9409ZM29.6014 99.5484C29.0779 99.0366 28.4809 98.4335 27.6007 97.5453C26.531 96.4639 25.0633 94.982 22.8373 92.7668C31.3038 79.8269 29.7046 70.6104 29.0046 69.2886C28.6723 68.6613 27.991 68.2387 27.2778 68.2387C14.3578 68.2387 3.84575 57.812 3.84575 44.9952C3.84575 32.18 14.3578 21.7534 27.2778 21.7534C39.864 21.7534 49.7211 31.5862 50.7176 45.1328C52.9135 75.0112 35.0105 94.4105 29.6014 99.5484Z" fill="#318D85"/>
												<path d="M122.809 44.8574C121.66 29.2631 110.189 17.9409 95.5346 17.9409C80.4936 17.9409 68.2566 30.0765 68.2566 44.9952C68.2566 59.387 79.6453 71.1911 93.9542 72.0065C94.202 74.6574 94.0142 81.8746 87.0362 91.9253C86.5089 92.6831 86.6046 93.705 87.2596 94.3547C90.103 97.175 91.8634 98.9546 93.0984 100.2C94.7218 101.842 95.4633 102.59 96.548 103.566C96.9139 103.893 97.3775 104.059 97.8393 104.059C98.2898 104.059 98.7383 103.903 99.1004 103.59C111.257 93.0981 124.761 71.4202 122.809 44.8574ZM97.8579 99.5484C97.3306 99.0328 96.7282 98.426 95.8403 97.5288C94.7706 96.4489 93.3087 94.971 91.092 92.7668C99.5584 79.825 97.9613 70.6104 97.2631 69.2886C96.9308 68.6632 96.2478 68.2387 95.5346 68.2387C82.6125 68.2387 72.1004 57.812 72.1004 44.9952C72.1004 32.18 82.6125 21.7534 95.5346 21.7534C108.119 21.7534 117.978 31.5862 118.976 45.1347C121.17 75.0093 103.267 94.4105 97.8579 99.5484Z" fill="#318D85"/>
											</svg>
										</div>
									</div>
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="content-inner-3 bg-gray overflow-hidden">
			<div class="container">
				<div class="section-head style-2 text-center">
					<h2 class="title">Creative <span class="text-primary"> Experise</span></h2>
					<p class="sub-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 aos-item" data-aos="flip-down" data-aos-duration="1500" data-aos-delay="200">
						<div class="dz-team style-3 text-center m-b30 overlay-shine aos-item" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
							<div class="dz-media">
								<a href="javascript:void(0);"><img src="{% static 'codesign/images/team/pic9.jpg' %}" alt=""></a>
							</div>
							<div class="dz-content">
								<h5 class="dz-name"><a href="javascript:void(0);">Jakob Bothman</a></h5>
								<h6 class="dz-position ">Software Developer</h6>
							</div>
							<ul class="team-social">
								<li><a href="https://www.facebook.com/" target="blank"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="https://www.instagram.com/" target="blank"><i class="fab fa-instagram"></i></a></li>
								<li><a href="https://twitter.com/" target="blank"><i class="fab fa-twitter"></i></a></li>
								<li><a href="https://www.youtube.com//" target="blank"><i class="fab fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 aos-item" data-aos="flip-down"  data-aos-duration="1600" data-aos-delay="200">
						<div class="dz-team style-3 text-center m-b30 overlay-shine aos-item" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
							<div class="dz-media ">
								<a href="javascript:void(0);"><img src="{% static 'codesign/images/team/pic10.jpg' %}" alt=""></a>
							</div>
							<div class="dz-content">
								<h5 class="dz-name"><a href="javascript:void(0);">Lindsey Botosh</a></h5>
								<h6 class="dz-position ">Designer</h6>
							</div>
							<ul class="team-social">
								<li><a href="https://www.facebook.com/" target="blank"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="https://www.instagram.com/" target="blank"><i class="fab fa-instagram"></i></a></li>
								<li><a href="https://twitter.com/" target="blank"><i class="fab fa-twitter"></i></a></li>
								<li><a href="https://www.youtube.com//" target="blank"><i class="fab fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 aos-item" data-aos="flip-down"  data-aos-duration="1500" data-aos-delay="200">
						<div class="dz-team style-3 text-center m-b30 overlay-shine aos-item" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
							<div class="dz-media ">
								<a href="javascript:void(0);"><img src="{% static 'codesign/images/team/pic11.jpg' %}" alt=""></a>
							</div>
							<div class="dz-content">
								<h5 class="dz-name"><a href="javascript:void(0);">Andrey Carol</a></h5>
								<h6 class="dz-position ">programmer</h6>
							</div>
							<ul class="team-social">
								<li><a href="https://www.facebook.com/" target="blank"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="https://www.instagram.com/" target="blank"><i class="fab fa-instagram"></i></a></li>
								<li><a href="https://twitter.com/" target="blank"><i class="fab fa-twitter"></i></a></li>
								<li><a href="https://www.youtube.com//" target="blank"><i class="fab fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 aos-item" data-aos="flip-down"  data-aos-duration="1500" data-aos-delay="200">
						<div class="dz-team style-3 text-center m-b30 overlay-shine aos-item" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
							<div class="dz-media ">
								<a href="javascript:void(0);"><img src="{% static 'codesign/images/team/pic12.jpg' %}" alt=""></a>
							</div>
							<div class="dz-content">
								<h5 class="dz-name"><a href="javascript:void(0);">Kaylynn Donin</a></h5>
								<h6 class="dz-position ">developer</h6>
							</div>
							<ul class="team-social">
								<li><a href="https://www.facebook.com/" target="blank"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="https://www.instagram.com/" target="blank"><i class="fab fa-instagram"></i></a></li>
								<li><a href="https://twitter.com/" target="blank"><i class="fab fa-twitter"></i></a></li>
								<li><a href="https://www.youtube.com//" target="blank"><i class="fab fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section> 
		
		<!-- Blog -->
		<section class="content-inner-1  bg-white overflow-hidden ">
			<div class="container">
				<div class="row section-head-bx align-items-center p-b10">
					<div class="col-lg-7 col-md-12 col-sm-12">
						<div class="section-head style-2">
							<h2 class="title">Stay Updated  <span class="text-primary">With us</span></h2>
							<p class="sub-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
						</div>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-12">
						<a href="{% url 'codesign:blog-details' %}" class="view-more-btn ms-auto">
							<span class="text">View More Product</span>
							<span class="line"></span>
							<span class="btn-icon bg-primary"><i class="las la-long-arrow-alt-right"></i></span>
						</a>
					</div>
				</div>
				<div class="blog-area">
					<div class="swiper-container blog-swiper-2">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="dz-card blog-grid style-3 aos-item overlay-shine" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="200">
									<div class="dz-media">
										<a href="{% url 'codesign:blog-details' %}"><img src="{% static 'codesign/images/blog/blog-grid/pic5.jpg' %}" alt=""></a>
									</div>
									<div class="dz-info">
										<div class="dz-meta">
											<ul>
												<li class="post-btn"><a href="{% url 'codesign:blog-details' %}" class="btn  btn-primary">Bussiness</a></li>
												<li class="post-date"><span><i class="far fa-clock text-primary"></i></span>Jan 20, 2022</li>
												<li class="post-user"><a href="javascript:void(0);"><span><i class="far fa-comment text-primary"></i></span>1947</a></li>
											</ul>
										</div>
										<h5 class="dz-title"><a href="{% url 'codesign:blog-details' %}">Ingenious Ways You Can Do  With Construction.</a></h5>
										<div class="text">
											<p>Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text of the printing and typesetting. of the printing and typesetting.</p>
										</div>
										<a href="{% url 'codesign:blog-details' %}" class="btn shadow-primary icon-btn btn-primary"><i class="las la-long-arrow-alt-right"></i></a>
									</div>																			
								</div>
							</div>
							<div class="swiper-slide">
								<div class="dz-card blog-grid style-3 aos-item overlay-shine" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="200">
									<div class="dz-media">
										<a href="{% url 'codesign:blog-details' %}"><img src="{% static 'codesign/images/blog/blog-grid/pic6.jpg' %}" alt=""></a>
									</div>
									<div class="dz-info">
										<div class="dz-meta">
											<ul>
												<li class="post-btn"><a href="{% url 'codesign:blog-details' %}" class="btn  btn-primary">Bussiness</a></li>
												<li class="post-date"><span><i class="far fa-clock text-primary"></i></span>Jan 20, 2022</li>
												<li class="post-user"><a href="javascript:void(0);"><span><i class="far fa-comment text-primary"></i></span>1947</a></li>
											</ul>
										</div>
										<h5 class="dz-title"><a href="{% url 'codesign:blog-details' %}">Integer vestibulum rutrum aliquet cras rutrum.</a></h5>
										<div class="text">
											<p>Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text of the printing and typesetting. of the printing and typesetting.</p>
										</div>
										<a href="{% url 'codesign:blog-details' %}" class="btn shadow-primary icon-btn btn-primary"><i class="las la-long-arrow-alt-right"></i></a>
									</div>																			
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}
