{% extends 'codesign/elements/layouts/layout.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}

<!-- Portfolio Details -->
<section class="content-inner port-detail lightgallery line-img">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-b30 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <h2 class="title m-b0">We Help You Buildng The Dreams & Bring More Than You Expect</h2>
            </div>
            <div class="col-lg-4 m-b30 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <ul class="info-list">
                    <li>
                        <h2 class="text-primary">100%</h2>
                        <span>Work Completed</span>
                    </li>
                    <li>
                        <h2 class="text-primary">250</h2>
                        <span>Workers Have Done</span>
                    </li>
                    <li>
                        <h2 class="text-primary">480</h2>
                        <span>In Days Completed</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row m-b15">
            <div class="col-lg-3 col-6 m-b30 aos-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
                <span data-exthumbimage="{% static 'codesign/images/work/work-1/pic-9.jpg' %}" data-src="{% static 'codesign/images/work/work-1/pic-9.jpg' %}" class="lightimg" title="ARCHITECTURAL">
                    <img src="{% static 'codesign/images/work/work-1/pic-9.jpg' %}" alt="">
                </span>
            </div>
            <div class="col-lg-3 col-6 m-b30 aos-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400">
                <span data-exthumbimage="{% static 'codesign/images/work/work-1/pic-10.jpg' %}" data-src="{% static 'codesign/images/work/work-1/pic-10.jpg' %}" class="lightimg" title="ARCHITECTURAL">
                    <img src="{% static 'codesign/images/work/work-1/pic-10.jpg' %}" alt="">
                </span>
            </div>
            <div class="col-lg-6 col-12 m-b30 aos-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="600">
                <span data-exthumbimage="{% static 'codesign/images/work/work-1/pic-11.jpg' %}" data-src="{% static 'codesign/images/work/work-1/pic-11.jpg' %}" class="lightimg" title="ARCHITECTURAL">
                    <img src="{% static 'codesign/images/work/work-1/pic-11.jpg' %}" alt="">
                </span>
            </div>
        </div>
        <div class="row m-b15">				
            <div class="col-lg-6">
                <p>Nunc id orci bibendum, pulvinar magna eu, egestas mauris. Fusce augue nibh, rutrum sit amet bibendum eu, fringilla eget odio. Vestibulum quis sodales tortor. Integer sagittis nisi et commodo semper.</p>
                <p class="m-b30">Maecenas sit amet luctus magna, in placerat ante. Donec et elit metus. Morbi faucibus nibh erat, ac dictum nisi aliquet sit amet. Nullam at elit nisi. Donec non ex elementum, auctor elit a, vehicula mauris. Etiam varius faucibus tortor quis iaculis.</p>
                <div class="icon-bx-wraper style-7 left m-b30">
                    <div class="icon-bx-sm rounded-0 bg-primary">
                        <span class="icon-cell"><i class="flaticon-placeholder"></i></span> 
                    </div>
                    <div class="icon-content">
                        <h4 class="title m-b10">Project Location</h4>
                        <p>#8901 Marmora Road Chi, Vietnam</p>
                    </div>
                </div>
                <div class="icon-bx-wraper style-7 left m-b30">
                    <div class="icon-bx-sm rounded-0 bg-primary">
                        <span class="icon-cell"><i class="flaticon-telephone"></i></span> 
                    </div>
                    <div class="icon-content">
                        <h4 class="title m-b10">Call Us</h4>
                        <p>+91 123 456 7890</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 m-b30 text-center">
                <img class="m-b15" src="{% static 'codesign/images/work/work-1/pic-12.png' %}" alt="">
                <h5>FLOOR PLAN</h5>
            </div>
        </div>
        <div class="row m-b15">
            <div class="col-sm-6 m-b30 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <span data-exthumbimage="{% static 'codesign/images/work/work-1/pic-13.jpg' %}" data-src="{% static 'codesign/images/work/work-1/pic-13.jpg' %}" class="lightimg" title="ARCHITECTURAL">
                    <img src="{% static 'codesign/images/work/work-1/pic-13.jpg' %}" alt="">
                </span>
            </div>
            <div class="col-sm-6 m-b30 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                <span data-exthumbimage="{% static 'codesign/images/work/work-1/pic-14.jpg' %}" data-src="{% static 'codesign/images/work/work-1/pic-14.jpg' %}" class="lightimg" title="ARCHITECTURAL">
                    <img src="{% static 'codesign/images/work/work-1/pic-14.jpg' %}" alt="">
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum a metus a fermentum. Proin rutrum, mauris quis aliquet suscipit, mauris ex imperdiet erat, ac tristique lorem nibh vitae orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate sit amet sapien eget varius. Morbi tristique felis quis tortor porta, sit amet mattis ipsum tempus.</p>
            </div>
        </div>
    </div>
</section>

<!-- Video -->
<div class="video-bx style-1 video-section aos-item" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="300" style="background-image: url({% static 'codesign/images/video/pic1-1.jpg' %});">
    <div class="video-btn">
        <a href="https://www.youtube.com/watch?v=4UdeL0kdMMs" class="popup-youtube"><i class="flaticon-play"></i></a>
    </div>
</div>

<!-- Portfolio -->
<section class="content-inner line-img lightgallery">
    <div class="container">
        <div class="section-head style-1 text-center">
            <h2 class="title">RELATED <span class="text-primary">WORKS</span></h2>
            <div class="dz-separator style-1 text-primary"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="dz-box overlay style-1 m-b30">
                    <div class="dz-media">
                        <img src="{% static 'codesign/images/work/work-1/pic-4.jpg' %}" alt="">
                    </div>
                    <div class="dz-info">
                        <span data-exthumbimage="{% static 'codesign/images/work/work-1/pic-3.jpg' %}" data-src="{% static 'codesign/images/work/work-1/pic-3.jpg' %}" class="view-btn lightimg" title="INTERIOR DESIGN"></span>
                        <h6 class="sub-title">INTERIOR DESIGN</h6>
                        <h4 class="title m-b15"><a href="{% url 'codesign:portfolio-details' %}">Modern House Interior <span>New York</span></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="dz-box overlay style-1 m-b30">
                    <div class="dz-media">
                        <img src="{% static 'codesign/images/work/work-1/pic-7.jpg' %}" alt="">
                    </div>
                    <div class="dz-info">
                        <span data-exthumbimage="{% static 'codesign/images/work/work-1/pic-4.jpg' %}" data-src="{% static 'codesign/images/work/work-1/pic-4.jpg' %}" class="view-btn lightimg" title="ARCHITECTURAL"></span>
                        <h6 class="sub-title">ARCHITECTURAL</h6>
                        <h4 class="title m-b15"><a href="{% url 'codesign:portfolio-details' %}">Residential Project, <span>Paris</span></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                <div class="dz-box overlay style-1 m-b30">
                    <div class="dz-media">
                        <img src="{% static 'codesign/images/work/work-1/pic-8.jpg' %}" alt="">
                    </div>
                    <div class="dz-info">
                        <span data-exthumbimage="{% static 'codesign/images/work/work-1/pic-6.jpg' %}" data-src="{% static 'codesign/images/work/work-1/pic-6.jpg' %}" class="view-btn lightimg" title="INTERIOR DESIGN"></span>
                        <h6 class="sub-title">INTERIOR DESIGN</h6>
                        <h4 class="title m-b15"><a href="{% url 'codesign:portfolio-details' %}">Modern Family House,  <span>Italy</span></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
